.loader {
  width: 48px;
  height: 48px;
  border: 5px solid rgb(215, 215, 221);
  border-bottom-color: rgba(253, 224, 71, 0.8);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
