* {
  padding: 0;
  margin: 0;
}

:root {
  font-weight: 400;
  font-family: 'Indie Flower', cursive;
  font-style: normal;
  background-color: rgb(243 244 246);
}
button {
  border: 0;
  padding: 0;
}
